<%= javascript_include_tag "charts", "data-turbolinks-track" => true %>
<%= javascript_include_tag "disqus", "data-turbolinks-track" => true %>

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "4ed9e27d-b2ec-4492-b592-fbc3e5b00d84", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

<div id="chart-page">
	<a href="/"><button id="back-home">The Mirror Paradox</button></a>
	<!-- social media icons -->
	<div id="social-media">
		<span class='st_facebook_large' displayText='Facebook'></span>
		<span class='st_twitter_large' displayText='Tweet'></span>
		<span class='st_linkedin_large' displayText='LinkedIn'></span>
		<span class='st_email_large' displayText='Email'></span>
	</div>
	<!-- social media icons end -->

	<!-- line chart -->
	<div id="chart">
		<h2 class="data-header col-md-offset-1">Average Amount of Days Chosen by Age Group</h2>
		<canvas id="canvas" height="600" width="800"></canvas>
		<div class="my-legend">
			<div class='legend-scale'>
			  <ul class='legend-labels'>
			    <li><span style='background:#0B2C3C;'></span>Males</li>
			    <li><span style='background:#FF6666;'></span>Females</li>
			  </ul>
		    </div>
	    </div>
	</div>
	<!-- line chart end -->

	<!-- disqus comment section -->
	<p id="note" class="text-center col-md-offset-4">Feel free to explain the rationale behind your choices in the comments section below. And to inspire even more discussion, don't forget to share this with family and friends!</p>
	<div id="disqus_thread"></div>
	<!-- disqus comment section end -->
</div>
