<div class="container-fluid" id="chart-page">

	
	<h2 class="text-center" id="data-header">The Mirror Paradox Visualized</h2>
	<div class="row-fluid">

		<div class="addthis_toolbox addthis_floating_style addthis_32x32_style visible-lg visible-md" id="social-media">
			<a class="addthis_button_facebook" addthis:url="http://www/themirrorparadox.com" addthis:title="The Mirror Paradox"></a>
			<a class="addthis_button_twitter" addthis:url="http://themirrorparadox.com" addthis:title="The Mirror Paradox"></a>
			<a class="addthis_button_linkedin" addthis:url="http://themirrorparadox.com" addthis:title="The Mirror Paradox"></a>
			<a class="addthis_button_email" addthis:url="http://themirrorparadox.com" addthis:title="The Mirror Paradox"></a>
			<a class="addthis_button_compact" addthis:url="http://themirrorparadox.com" addthis:title="The Mirror Paradox"></a>
		</div>

		<div class="addthis_toolbox addthis_floating_style addthis_16x16_style hidden-lg hidden-md" id="social-media">
			<a class="addthis_button_facebook" addthis:url="http://www/themirrorparadox.com" addthis:title="The Mirror Paradox"></a>
			<a class="addthis_button_twitter" addthis:url="http://themirrorparadox.com" addthis:title="The Mirror Paradox"></a>
			<a class="addthis_button_linkedin" addthis:url="http://themirrorparadox.com" addthis:title="The Mirror Paradox"></a>
			<a class="addthis_button_email" addthis:url="http://themirrorparadox.com" addthis:title="The Mirror Paradox"></a>
			<a class="addthis_button_compact" addthis:url="http://themirrorparadox.com" addthis:title="The Mirror Paradox"></a>
		</div>

		<figure id="chart" class="text-center">
			<div class='legend-scale'>
			  <figcaption>Average Amount of Days Sold by Age Group</figcaption>
		    </div>
			<canvas id="canvas" height="500" width="667"></canvas>
			<ul class='legend-labels'>
			    <li><span id="male-legend"></span>Males</li>
			    <li id="females"><span id="female-legend"></span>Females</li>
			</ul>
		</figure>

		<section class="comment-section col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
			<p id="note" class="text-center">Feel free to explain the rationale behind your choices in the comments section below. And to inspire even more discussion, don't forget to share this with family and friends!</p>
			<div id="disqus_thread"></div>
		</section>

	</div>
</div>

<%= javascript_include_tag "visualization", "data-turbolinks-track" => true %>
<%= javascript_include_tag "disqus", "data-turbolinks-track" => true %>

<!-- AddThis Button BEGIN -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52e6f99702bb64bf"></script>
<!-- AddThis Button END -->
