<select id="user_form">
	<option>0 days - $0</option>
	<option>7 days - $3500</option>
	<option>30 days - $15,000</option>
	<option>60 days - $30,000</option>
	<option>365 days - $182,500</option>
	<option>2000 days - $1,000,000</option>
	<option>+2000 days</option>
</select>

<button id="day_button">Submit</button>

<div id="day"></div>