@import 'home';
@import 'selection';
$visualizationcolor: #333745;

#chart-page {
	background-color: #fff;
	min-height: 100%;
	min-width: 100%;
	color: $visualizationcolor;
	font-family: $bodyfont;

	#home-button {
		position: fixed;
		top: 0;
		left: 5px;
		color: $visualizationcolor;
		text-decoration: none;
		i {
			&:hover {
				color: #AB1A25;
			}
			&:visited {
				color: $visualizationcolor;
			}
		}
	}
	
	#data-header {
		font-family: $headerfont;
		font-weight: 700;
		text-transform: uppercase;
		font-size: $subheadersize;
	}

	figure {
		margin-top: 1.5%;

		canvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		    max-width: 800px;
		}

		figcaption {
			font-size: .9em;
		}

		ul {
			margin-top: .3%;
			list-style: none;
			display: inline-block;
			#females {
				padding-left: 15px;
			}
			li {
				display: inline-block;
				font-size: 80%;
				list-style: none;
				margin-left: 0;
				line-height: 11px;
				margin-bottom: 2px;
				span {
					display: block;
					float: left;
					height: 10px;
					width: 30px;
					margin-right: 5px;
					border-radius: 20px;
				}

				#male-legend {
					background: #0B2C3C;
				}

				#female-legend {
					background: #FF6666;
				}
			}
		}
	}


	#social-media {
		top: 25%;
	}

	.comment-section {
		margin-top: 3%;
		#note {
			font-size: 1.3em;
			margin-bottom: 9%;
		}
	}

}