.background {
	color: #fff;
}

#home {
	background: url(future-room.jpg) center center fixed no-repeat;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100%;
}