@import url(http://fonts.googleapis.com/css?family=Vollkorn|Droid+Serif);

.background {
}

#home {
   color: #00c690;
   border: solid 10px #00c690;
   background-color: #051b24;
   height: 100%;
   width: 100%;
}

#marketing {
  	font-family: 'Vollkorn', serif;
  	font-weight: bold;
  	font-size: 6em;
	margin-top: 15%;
}

.lead{
	font-family: 'Droid Serif', serif;
	font-size: 2.3em;
}