// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.background{
	overflow: hidden;
}

.arrow{
	opacity:0.2;
}

.control{
	position:fixed;
	width:170px;
	cursor:pointer;
}

#rightControl{
	right:17px;
	top:30%;
}

#leftControl{
	left:0px;
	top:40%;
}

.right {
	float: right;
}

.left {
	float: left;
}