@import 'flash';
@import 'home';
$selectioncolor: #333745;

#selector {
	background-color: #fff;
	min-height: 100%;
	min-width: 100%;
	font-family: $bodyfont;
	color: $selectioncolor;

	#selection-header {
		font-family: $headerfont;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 3em;
	}

	.survey {
		margin-top: 4%;
	}

	.numbers {
		font-size: 1.4em;
		margin-top: 5%;
	}

	.gender {
		margin-top: 10%;
		margin-bottom: 10%;
		label {
			margin-bottom: 6px;
		}
	}


	#submit-button {
		margin-top: 21%;
	}
}